* {
    font-family: verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: inline;
}

img {
    padding-right: 10px;
    vertical-align: middle;
}

.error {
    color: darkred;
}

.protected {
    padding-top: 10px;
    color: darkgrey;
}

.counts {
    padding-top: 10px;
    font-weight: bold;
}

.tweets {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid lightgray;
    width: 620px;
}

.tweet {
    padding: 5px 5px 5px 30px;
    margin: 5px 0;
    font-style: oblique;
    color: darkgrey;
    width: 600px;
    background-image:url('quotes.png');
    background-repeat:no-repeat;
    background-position:left;
}
